services:
  postgres:
    image: 'postgres:18'
    environment:
      - 'POSTGRES_DB=portfolio_db'
      - 'POSTGRES_PASSWORD=Ngaythanhcong1402'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
